.sidebar_nav{
    width: 210px;
    height: 729px; /* исправить */
    background-color: #E6E6E64D;
    box-shadow: 2px 0px 0px 0px #0000001A;
    box-sizing: border-box;
}

.logo_img{
    width: 90px;
    height: 60px;
    padding: 0;
}

.nav_logo{
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 20px;
}

.nav_logo p {
    font: 700 18px "Montserrat";
    line-height: 45px;
    position: absolute;
    padding-left: 70px;
    padding-top: 5px;
}

.nav_main{
    width: 100px;
    display: flex;
    gap: 43px;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-top: 100px;
}

.nav_button{
    max-height:35px;
    max-width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #E6E6E133;
    cursor: pointer;
}

#nav_help_button{
    margin-top: 260px;
}
