.info {
  text-align: center;
  font: 800 48px "Montserrat";
  color: white;
  line-height: 58.51px;
}

.reg {
  /* background-color: red; */
  text-align: center;
  margin-top: 170px;
}

.reg_btn {
  height: 64px;
  width: 256px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 184, 0, 1);
  font: 700 24px "Montserrat";
  color: white;
}

.reg_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reg_btn:focus {
  text-decoration: None;
  background-color: rgb(225, 178, 51);
  outline: 2px solid rgb(49, 37, 0);
}