.main_section {
  padding: 20px;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  height: 320px;
}

.img_placeholder {
  display: grid;
  width: 140px;
  height: 210px;
  justify-items: center;
}

.img_placeholder_button {
  width: 80%;
  font: 500 12px Montserrat;
  background-color: #26a0f8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.img_placeholder_button:hover {
  background-color: #26a0f8dd;
  transition: all 0.4s;
}

.profile_info_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font: 700 14px Montserrat;
  list-style: none;
  padding-left: 35px;
  width: 300px;
  height: 300px;
}

.profile_info_main p {
  padding-top: 5px;
  font: 600 13px Montserrat;
  color: #a3a3a3;
}
.profile_info_main_li {
  padding-bottom: 30px;
  max-width: 260px;
  margin-right: 35px;
}

.change_profile_info {
  width: 100px;
  height: 35px;
  background-color: #ff0000d1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.save_or_cancel_info {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 30px;
  gap: 10px;
}

.save_info {
  width: 100px;
  height: 35px;
  background-color: #5dc42ad1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel_info {
  width: 100px;
  height: 35px;
  background-color: #ff0000d1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit {
  font: 600 14px Montserrat;
  margin-top: 10px;
  width: 120px;
  background-color: #e3e3e3;
  border: 1;
  border-radius: 5px;
  text-align: center;
  height: 22px;
}

.edit:active {
  border: none;
}
