.img_alien_carousel_photo {
    width: 370px;
    height: 390px;
    margin-top: 15px;
    margin-bottom: 0;
}

.img_alien_carousel_photo.rec {
    padding: 0;
}

.img_alien_carousel_photo.rec-arrow {
    background: none !important;
    position: absolute;
    transition: all 0.3s ease;
    font-size: 1.3rem !important;
    color: blue !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.9rem !important;
    opacity: 1;
}

.img_alien_carousel_photo.rec-arrow:last-child {
    left: 25px;
    z-index: 999;

}

.img_alien_carousel_photo.rec-arrow:first-child {
    right: 25px;
    z-index: 999;
}

.img_alien_carousel_photo.rec-dot_active {
    background-color: lightgrey !important;
    box-shadow: 0 0 1px 3px lightgrey !important;
}

.img_alien_carousel_photo.rec-dot:focus,
.img_alien_carousel_photo.rec-dot:hover {
    box-shadow: 0 0 1px 3px lightgrey !important;
}

.img_alien_carousel_photo.rec-dot_active:focus,
.img_alien_carousel_photo.rec-dot_active:hover {
    background-color: lightgrey !important;
    box-shadow: 0 0 1px 3px lightgrey !important;
}

.img_alien_carousel_photo.rec-arrow:hover:not(:disabled) {
    transform: scale(1.2);
}

.img_alien_carousel_photo.rec-arrow:disabled {
    opacity: 0.4;
}