.back {
  display: flex;
  width: 1030px;
  height: 84vh;
  column-gap: 50px;
  flex-wrap: wrap;
  /* color: rgba(40, 40, 40, 0.9); */
}

.card {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 295px;
  width: 220px;
  border-radius: 10px;
}

.card_bottom {
  position: absolute;
  bottom: 15px;
  left: 22px;
  font: 700 18px Montserrat;
  color: white;
  line-height: 21.94px;
}

.focus_block {
  position: absolute;
  background-color: #26a0f8c2;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  z-index: 1;
}

.focus_btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 70px;
  height: 70px;
  left: 77px;
  top: 110px;
  cursor: pointer;
}

.focus_img {
  /* background-color: none; */
}

.areNoCards {
  /* position: absolute; */
  /* left: 5px; */
  /* background-color: red; */
  width: 100%;
  /* display: flex; */
  text-align: center;
}
.areNoCards p {
  font: 700 24px Montserrat;
  margin-top: 35px;
  margin-bottom: 20px;
}
.areNoCards img {
  /* background-color: white; */
  width: 400px;
  height: 400px;
  /* box-shadow: 3px 3px 1px #ccc; */
  -webkit-filter: drop-shadow(6px 6px grey);
}
