.preferences_list {
  list-style: none;
  display: flex;
  column-gap: 85px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin: 50px 0px 0px 50px;
}

.edit {
  font: 600 13px Montserrat;
  color: #a3a3a3;
  margin-top: 0;
  background-color: #d9d9d94d;
  border: 1;
  border-radius: 5px;
  text-align: left;
  resize: none;
  overflow: hidden;
  padding: 3px 3px 3px 8px;
  box-sizing: border-box;
  /* height: 28px; */
  /* min-height: 28px; */
  width: 150px;
  border-style: dashed;
  border-color: #0000002e;
}

.edit:active {
  border: none;
}

.preferences_list_item {
  width: 150px;
  word-wrap: break-word;
}

.preferences_list_item p {
  font: 600 14px Montserrat;
  color: #a3a3a3;
}

.preferences_list_item_header {
  display: flex;
  padding-left: 10px;
  padding-bottom: 5px;
}

.preferences_list_item_header p {
  font: 700 15px Montserrat;
  color: black;
}

.change_profile_info {
  width: 100px;
  height: 35px;
  background-color: #ff0000d1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.save_or_cancel_info {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 30px;
  gap: 10px;
}

.save_info {
  width: 100px;
  height: 35px;
  background-color: #5dc42ad1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel_info {
  width: 100px;
  height: 35px;
  background-color: #ff0000d1;
  color: #ffffff;
  font: 600 14px Montserrat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
