.modal_dialog {
    width: 650px;
    min-height: 630px;
    z-index: 101;
    margin: 30px auto;
    border: None;
    border-radius: 10px;
    background-color: #f3f3f3;
    animation: load_photo 1s;
    overflow-y: auto;
}

.modal_dialog::backdrop {
    background-color: #000;
    opacity: 35%;
}

.modal_dialog_header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #7a7a7abb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_dialog_header p {
    font: 500 19px "Montserrat";
    margin: 13px;
}

.close_button {
    width: 45px;
    height: 45px;
    margin-right: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: None;
    font: 400 27px "Montserrat";
    color: #000000b9;
}

.modal_avatar_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px
}

.modal_avatar_block p {
    font: 500 17px "Calibri";
    text-align: center;
}

.modal_avatar_container{

}

.modal_chosen_avatar {
    border-radius: 1px;
    margin-top: 5px;
    background-color: white;
    object-fit: contain;
    width: 600px;
    max-height: 550px;
}

.modal_avatar_button_section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 7px;
    gap: 30px;
    margin-bottom: 15px;
}

.modal_avatar_button {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2FA1D228;
    box-shadow: 2px 2px 0 1px #2FA1D22f;
    font: 500 17px "Montserrat";
    margin: 2px;
}

.modal_avatar_button:first-child{
    background-color: #2a93C93a;
    box-shadow: 2px 2px 0 1px #2a93C93a;
}

.modal_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.modal_content_label {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 550px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
    font: 500 23px 'Montserrat'
}

.modal_content_label_picture {
    width: 230px;
    height: 230px;
    opacity: 90%;
}

.modal_content_input {
    max-width: 190px;
    display: none;
}

.preview {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: none;
}

@keyframes load_photo {
    0% {
        opacity: 80%;
        scale: 80%;

    }
    50% {
        opacity: 1;
        scale: 1;
        transform: translate3d(0, -35px, -20px)
    }
    100% {
        transform: translate3d(0, 0, 0);
    }

}